
.ui-jqgrid .ui-jqgrid-htable th, .ui-jqgrid tr.jqgrow td, .ui-jqgrid tr.footrow td {
    padding: 0px 5px !important;
} 

/*table heading*/
.ui-state-default, .ui-widget-content .ui-state-default {
    /*background: #797172 !important;*/ /* #f0f8ff !important;
    background: #B2D3EB !important;*/
    /*color: #1f1f1f !important;*/
    /*border: 0px solid #f1f1f1 !important;*/
}
/*background of jqgrid*/
.ui-jqgrid .ui-jqgrid-view {
    font-size: 13px !important;
    font-weight: 600 !important;
}
.ui-jqgrid .ui-pager-control{
    background:#ffffff !important;
   
}
.btnAction{
    display:none;
}
td:first-child.ui-state-default.jqgrid-rownum {
    background: #fff !important;
    border-right-color: rgba(0,0,0,0.1) !important;
    border-top-color: rgba(0,0,0,0.1) !important;
    border-bottom-color: rgba(0,0,0,0.1) !important;
}
.ui-jqgrid td input:disabled {
    color: -internal-light-dark(rgb(84, 84, 84), gold) !important;
    cursor: default;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    /*background: #fffdc0 !important;*/ /*#E4F1F7 !important;*/
    color: #000 !important;
    border: none !important;
    border-left: 0px solid gold !important; /*#0b76bc !important;*/
    border-right-color: rgba(0,0,0,0.1) !important;
    border-top: 1px solid rgba(0,0,0,0.1) !important;
    border-bottom-color: rgba(0,0,0,0.1) !important;
}
.ui-state-hover:not(th) {
    /*background: #fbe2ff !important;*/ /* #fbe2ff  aliceblue !important;*/
    color: #000;
    border: none !important;
    border-right-color: rgba(0,0,0,0.1) !important;
    border-top-color: rgba(0,0,0,0.1) !important;
    border-bottom-color: rgba(0,0,0,0.1) !important;
}
.ui-pg-button .ui-corner-all .ui-state-hover{
    background:transparent !important;
}
.ui-state-hover td {
    color: #000 !important;
}
.ui-pg-div {
    border: 1px solid #ffffff !important;
}
.ui-pg-button.ui-corner-all.ui-state-hover .ui-pg-div {
    background: #ffffff !important;
    border: 1px solid transparent !important;
    color: #000 !important;
}
.ui-widget-content {
    border: none !important;
    border-right: 0px solid rgba(0,0,0,0.1) !important;
    border-top: 0px solid #eaeaea !important;
    border-bottom: 0px solid #eaeaea !important;
}
.ui-state-hover .ui-state-default {
    color: #1d5987 !important;
    border-color: none !important;
   
}
.ui-widget.ui-widget-content {
    padding:0px !important;
    border: 1px solid #797172 !important
}
/*Jqgrid header*/
.ui-jqgrid .ui-jqgrid-pager {
    font-size: 13px !important;
    font-weight: bold !important;
    height: 34px !important;
    background: #797172 !important;
   }
/*pager*/
.ui-widget {
    /*font-family: roboto !important;*/
    font-family: 'Open Sans', sans-serif !important;
}

.ui-jqgrid {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12)
    /*box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);*/
}

    .ui-jqgrid .ui-jqgrid-pager .ui-pg-div {
        padding: 7px 7px 7px 3px !important;
    }

    .ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
        border-right: 1px solid #8c8c8c !important;
        /*#e8e8e8*/
    }

    .ui-jqgrid .ui-jqgrid-htable {
        border-bottom: 0px solid #e8e8e8 !important;
    }
        .ui-jqgrid .ui-jqgrid-htable th{
            height:34px !important;
        }
        .ui-jqgrid .ui-jqgrid-htable th div {
            /*height: 24px !important;
            font-weight: 400 !important;*/
            /*height: 37px !important;
            padding: 9px 0px;*/
            height: 30px !important;
            padding: 5px 0px !important;
            font-weight: 300 !important;
            letter-spacing: 0.2px;
            color: gold; /*#0065ca;*/
            font-size: 12px;
        }
.ui-jqgrid-hdiv {
    background: #797172 !important;
    /*aliceblue*/
}
.ui-pager-table {
    width: 100% !important;
}
.ui-jqgrid .ui-paging-info {
    height: 34px;
    margin-top: 0px !important;
    margin-right: 4px;
    font-size: 13px;
    line-height: 34px;
}

.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column{
    text-align:left !important;
}
.ui-jqgrid .ui-pg-table td{
    padding:0px !important;
}
.ui-first-th-ltr {
    border-right-color: #8c8c8c !important;
}
/*.ui-state-default, .ui-widget-content .ui-state-default {
    border: 1px solid #8c8c8c !important;
  }*/
.ui-jqgrid tr.ui-row-ltr td {
    line-height: 24px !important;
    white-space: normal;
    word-break:break-word;
}
.ui-jqgrid .ui-jqgrid-titlebar{
    display:none;
}
.ui-jqgrid tr.jqgfirstrow td {
    color: transparent !important;
}
.ui-jqgrid-view .ui-jqgrid-titlebar-close .ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.png") !important
}
.ui-jqgrid-btable tr:nth-child(odd){
    background:#fffcec; /*#f7f7f7;*/
}
.btn-jqgrid {
    padding: 2px 4px;
    background: #797172 !important;
    color: gold !important;
    margin: 3px;
    letter-spacing:0.95px;
}
.loading.ui-state-default {
    color: gold !important;
}
[id$=Amount], [id$=Amt], [id*=jqgExchangeRate_ExchangeRate], [id=jqgh_jqgIncentiveAmount_VariableIncentiveAmount], [id=jqgh_jqgSalary_BankCharges],
[id=jqgh_jqgAdvanceSalary_SalaryAdvance], [id=jqgh_jqgSalaryProcess_ExchangeRate], [id=jqgh_jqgSalaryProcess_AmountInLocalCurrency] {
    text-align: right !important;
}
.ui-jqgrid .ui-jqgrid-bdiv{
    overflow-x:hidden;
}

.group.ui-widget.ui-widget-content{
    width:100% !important;
}
.ui-jqgrid-sdiv, .ui-jqgrid-ftable{
    width:100% !important;
}
.ui-state-default.jqgrid-rownum {
    color: #797172 !important;
}
/*Custom Table for Parameter*/
#tbParameter{
    width:100% !important;
}
    #tbParameter th {
        padding: 5px;
        text-align: left;
        background-color: #4CAF50;
        background: #797172 !important;
        color: gold !important;
        border-right: 1px solid #8c8c8c !important;
        height: 34px;
        letter-spacing:1.5px;
    }
    #tbParameter td input[type=checkbox] {
        vertical-align: middle;
    }
    #tbParameter td, #customers th {
        border: 1px solid #ddd;
        padding: 2px 5px;
        height: 32px;
    }
    #tbParameter td {
        font-size: 12px !important;
        line-height: 25px !important;
        height: 25px !important;
        padding: 0px 5px;
        border-bottom: 0px !important;
    }
        #tbParameter tr:nth-child(even) {
            background-color: #fffcec;
        }

#tbParameter tr:hover {
    background-color: #fbe2ff;
}
    #tbParameter th:first-child, #tbParameter td:first-child{
        text-align: center;
    }
    #tbParameter tr td .form-control {
        border: none !important;
        border-bottom: 1px solid #ced4da !important;
        border-radius: 0px !important;
        line-height: 20px;
        height: 21px !important;
        padding: 4px 0px !important;
        font-size: 12px !important;
        width: 70px;
        margin: auto;
    }

.ui-datepicker .ui-state-default {
    background: #ffffff !important;
    color: #212120 !important;
}
.ui-datepicker .ui-state-default.ui-state-hover{
    background:#797172 !important;
    color:gold !important;
}
.ui-datepicker .ui-state-default.ui-state-highlight {
    background: #fffdc0 !important;
    color:#000 !important;
}
.ui-datepicker .ui-widget.ui-widget-content {
    border: 1px solid #e4e0e0 !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn-pager {
    padding-right: 5px;
    padding-top: 2px;
    padding-right: 2px;
    vertical-align: text-top;
    margin-left: 8px;
}
.fm-button.ui-state-default {
    background: #797172 !important;
    color: gold !important;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border: none;
    font-weight: 300;
    font-size: 12px;
    padding-left: 15px !important;

}
.fm-button .ui-icon{
    display:none !important;
}
.fm-button:nth-child(2) {
    color: #fff !important;
    background: #e9555d !important;
    margin-left:10px !important;
}
.ui-jqdialog-content td.navButton {
    display: none !important;
}
.ui-jqdialog-content td.EditButton {
    text-align: center !important;
}
.ui-widget-header {
    background: #555 !important;
    background-image: none !important;
    background-repeat: unset !important;
    border: none !important;
    border-bottom: 1px solid #dee2e6 !important;
    line-height: 32px !important;
    color:gold !important;
}

.ui-datepicker{
    padding:0em !important;
}
.ui-jqdialog-title {
    font-size: 13px !important;
    font-weight: 300;
    color: gold !important;
}
.EditTable td input, .EditTable td select, .EditTable td textarea {
   font-size:14px !important;
    border:none !important;
    border-bottom:1px solid #ccc !important;
    padding-left:0px !important;
    border-radius:0px !important;
}
    .EditTable td input:focus, .EditTable td select:focus, .EditTable td textarea:focus {
        outline: none !important;
        border-bottom-color: gold !important;
    }
.ui-jqdialog-content .CaptionTD, .ui-jqdialog-content .DataTD {
    display: block !important;
}
tr.FormData{
   height:72px !important;
}
.ui-jqdialog-content, .ui-jqdialog .ui-jqdialog-content{
    padding:15px 15px 10px  !important;
}
.ui-jqdialog .ui-jqdialog-titlebar{
    padding:4px 14px !important;
}
#editmodgvProcessRule{
    top:0px !important;

}
.ui-jqdialog-content, hr.ui-jqdialog-content {
    border-left: none !important;
    border-right: none !important;
}
.ui-jqgrid-bdiv{
    max-height:330px;
    overflow-y:auto;
}
#gview_jqgCulturekeys .ui-jqgrid-bdiv, #gview_jqgLanguageCulture .ui-jqgrid-bdiv{
    max-height: 290px;
    overflow-y: auto;
}
.ui-jqgrid .ui-jqgrid-htable {
    table-layout: fixed;
    margin: 0;
    padding-right: 20px;
}
.ui-jqgrid .ui-jqgrid-hbox {
    padding-right: 0px ;
}
#gview_jqgApplicationCodes > .ui-jqgrid-hbox {
    padding-right: 17px !important;
}

#gbox_jqgApplicationCodes .ui-jqgrid .ui-jqgrid-hbox {
    padding-right: 17px !important;
}
@media screen and (min-width:551px) and (max-width:991px) {
    .ui-jqgrid .ui-jqgrid-htable th div{
        font-size:12px;
    }
    .ui-jqgrid .ui-jqgrid-resize {
        display: none;
    }
    .ui-jqgrid .ui-jqgrid-titlebar {
        display: none;
    }
    [class*="ui-jqgrid"] {
        width: 100% !important;
    }
    .ui-jqgrid .ui-jqgrid-htable th, .ui-jqgrid tr.jqgrow td, .ui-jqgrid tr.footrow td {
        padding: 0px 2px !important;
    } 
    .ui-jqgrid .ui-jqgrid-view{
        font-size:12px !important;
    }
    .ui-jqgrid .ui-pg-table td {
        font-size: 11px !important;
    }

    .ui-jqgrid .ui-paging-info {
        height: 34px;
        margin-top: 0px !important;
        margin-right: 4px;
        font-size: 11px;
        line-height: 34px;
    }

    .ui-jqgrid tr.ui-row-ltr td {
        line-height: 24px !important;
        white-space: normal !important;
        font-size:11px !important;
    }

    .ui-jqgrid .ui-jqgrid-pager .ui-pg-div {
        padding: 7px 0px 7px 0px !important;
        font-size: 12px !important;
    }

    .ui-jqgrid .ui-jqgrid-btable, .ui-jqgrid .ui-jqgrid-htable {
        table-layout: fixed !important;
    }
    .ui-jqgrid-htable, .ui-jqgrid-hdiv, .ui-jqgrid-view, .ui-jqgrid, .ui-jqgrid-bdiv, .ui-jqgrid-btable, .ui-jqgrid-pager {
        width: 100% !important;
    }
        .ui-jqgrid .ui-jqgrid-pager {
            font-size: 13px !important;
            font-weight: bold !important;
            height: 34px !important;
            background: #fff !important;
        }
}
@media screen and (min-width:300px) and (max-width:550px) {
    .ui-jqgrid .ui-jqgrid-titlebar{
        display:block;
    }
    .ui-jqgrid .ui-jqgrid-htable th, .ui-jqgrid tr.jqgrow td, .ui-jqgrid tr.footrow td {
        padding: 0px 2px !important;
    }
    .ui-jqgrid-htable, .ui-jqgrid-hdiv, .ui-jqgrid-view, .ui-jqgrid ,.ui-jqgrid-pager{
        width: 100% !important;
    }
    /*[class*="ui-jqgrid"] {
        width: 100% !important;
    }*/
    .ui-jqgrid .ui-jqgrid-view {
        font-size: 12px !important;
    }

    .ui-jqgrid .ui-pg-table td {
        font-size: 11px !important;
    }

    td[id*=_right ] {
        display: none !important;
    }

    .ui-jqgrid tr.ui-row-ltr td {
        line-height: 21px !important;
        white-space: normal !important;
        font-size:11.75px !important;
    }

    .ui-jqgrid .ui-jqgrid-pager .ui-pg-div {
        padding: 0px 0px 0px 0px !important;
        font-size: 11px !important;
    }
    ..ui-widget-header{
        font-weight:300;
    }
    .ui-jqgrid .ui-jqgrid-btable, .ui-jqgrid .ui-jqgrid-htable {
        table-layout: fixed !important;
    }
    td button{
        width:auto !important;
        line-height:14px !important;
    }
        
        .ui-jqgrid .ui-jqgrid-pager {
            font-size: 13px !important;
            font-weight: bold !important;
            height: auto !important;
            background: #fff !important;
        }
    .ui-jqgrid .ui-jqgrid-toppager .ui-pager-control, .ui-jqgrid .ui-jqgrid-pager .ui-pager-control {
        height: auto;
    }

    .ui-jqgrid .ui-pager-control td[id$="_toppager_center"], .ui-jqgrid .ui-pager-control td[id$="pager_center"] {
        width: auto !important;
        white-space: normal !important;
        height: auto;
    }

    .ui-jqgrid .ui-pager-control td[id$="_toppager_left"], .ui-jqgrid .ui-pager-control td[id$="pager_left"] {
        width: auto !important;
        white-space: normal !important;
        height: auto;
    }

    .ui-jqgrid .ui-pager-control td[id$="_toppager_right"], .ui-jqgrid .ui-pager-control td[id$="pager_right"] {
        width: auto !important;
        white-space: normal !important;
        height: auto;
    }

    .ui-jqgrid .ui-jqgrid-bdiv, .ui-jqgrid .ui-jqgrid-view.table-responsive, .ui-jqgrid, .ui-jqgrid-pager,
    .ui-jqgrid-toppager, .ui-jqgrid-hdiv {
        width: auto !important;
    }

        .ui-jqgrid .ui-pager-control td[id$="_toppager_left"], .ui-jqgrid .ui-pager-control td[id$="pager_left"],
        .ui-jqgrid .ui-pager-control td[id$="_toppager_center"], .ui-jqgrid .ui-pager-control td[id$="pager_center"] {
            overflow-x: auto;
            overflow-y: hidden;
        }
}

/*@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {*/

@media only screen and (min-device-width: 300px) and (max-device-width: 551px) {
    .ui-jqgrid-titlebar{
        display:block;
    }
    .btnAction{
        display:block;
    }
    /* Force table to not be like tables anymore */
    .ui-jqgrid-bdiv table, .ui-jqgrid-bdiv thead, .ui-jqgrid-bdiv tbody, .ui-jqgrid-bdiv th, .ui-jqgrid-bdiv tr {
        display: block;
    }
    .ui-jqgrid {
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    }
    .ui-widget.ui-widget-content {
        border: 1px solid #fff !important;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    .ui-jqgrid-btable tr {
        border-bottom: 1px solid #e1e1e1 !important;
        margin-bottom: 0px !important;
    }
    .ui-jqgrid-btable td {
        display: block;
    }
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    .ui-jqgrid-bdiv tr {
        margin: 0 0 1rem 0;
    }

    .ui-pg-div {
        border: 0px solid #fff !important;
    }
    .ui-pgtable tr td:nth-of-type(2){

    }
    td[id*="_left"] table, td[id*="_center"] table {
        width: 100% !important;margin:0px 0px !important;
    }
        .ui-jqgrid .ui-pg-button{
            height:unset !important;
        }
        td[id*="_left"] table tr td, td[id*="_center"] table tr td {
            display: inline-block !important;
            width: auto !important;
        }
    .ui-jqgrid tr.jqgrow td {
        position: relative;
        bottom: 0px;
        height: auto;
        padding-left: 10px !important;
        text-align: left !important;
        border-bottom: 1px solid #f4f4f4;
        /*display: inline-block !important;*/
        width: 49% !important;
        line-height:30px !important;
    }
        .ui-jqgrid tr.jqgrow td[title*="Edit"] {
            display: inline-flex !important;
            justify-content: flex-start;
        }
        .ui-pager-control tr {
            background: #fff !important;
            border-bottom: 0px solid #eee;
            margin: 0px !important;
        }

    .ui-pager-table tr {
        display: flex !important;
    }

    td[id*="_center"] {
        float: right;width:auto !important;margin:0px 5px !important;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .jqgrow span {
        position: relative;
        top: 0px;
        left: 0px;
        color: #2d2d2d !important;
        font-weight: 300 !important;
        font-size: 11.55px !important;
        background: transparent;
        width: 50%;
        display: inline-block;
        padding-left: 3px;
        word-wrap: break-word;
        float: left;
        line-height: 30px !important;
    }
    .ui-jqgrid-titlebar {
        font-size: 13px !important;
        font-weight: 600 !important;
        letter-spacing: 0.15px;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        background: transparent !important;
    }
}