 /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 0px;
    padding-bottom: 0px;
    /*font-family: 'Open Sans', sans-serif !important;*/
    font-family: 'helvetica' !important;
}


button, input, optgroup, select, textarea, span, p, h1, h2, h3, h4, h5, h6, ul, li, .ui-widget, .mdl-textfield__input, label {
    font-family: 'helvetica',sans-serif !important;
}

button, input, optgroup, select, textarea, span, p {
    line-height: 20px !important;
}
#divAlert {
    position: fixed;
    top: 0;
    left: 40%;
    width: auto;
    margin: auto;
    z-index: 99999;
}
.mr-10{margin-right:10px !important}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
/*Global Styles*/
 
    .appLogo {
        height: 36px;
    }

/*------------------Navbar----------------------------*/
/*.bg-light {
    border-bottom: 1px solid #deeaee;
    background: #01bf67 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important
}*/

/*------------------Navbar----------------------------*/

/*.container-fluid, nav {
    padding-left: 50px !important;
    padding-right: 50px !important;
}*/

.mb-1{
    margin-bottom:1px !important;
}



.f-16{font-size:16px !important}

.shadowLite {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.shadowMedium {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadowLarge {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadowMega {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.f-r {
    float: right !important;
}
.p-t-20{padding-top:20px !important}
.pad0 {
    padding: 0px !important;
}
.mb-10 {
    margin-bottom: 10px !important
}
.mb-0{margin-bottom:0px !important}
.padleft0 {
    padding-left: 0px !important;
}
.p-r-0{ padding-right:0px !important;}
.p-l-15{padding-left:15px !important;}
.padright0 {
    padding-right: 0px !important;
}

.pad1 {
    padding: 1px !important
}

.pad5 {
    padding: 5px !important
}

.pad15 {
    padding: 15px !important;
}
.form-group.checkbox{
    padding-top:33px !important;
}
.mr-0 {
    margin-right: 0px !important
}

.p-y-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.p-y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.padtop20{
    padding-top:20px !important;
}
.padtop30{
    padding-top:30px !important;
}
.padtop15{
    padding-top:15px !important;
}
.p-r-39{padding-right:39px !important;}
.p-r-0{padding-right:0px !important;}
.m-r-30{margin-right:30px !important}
.m-r-15{margin-right:15px !important;}
.d-inline-b {
    display: inline-block
}
.c-black{color:black !important}
.bg-blur{
    opacity:0.09;
}
.checkbox-text{
    margin-left:5px;
    vertical-align:text-bottom;
}

.borderLite {
    border: 1px solid #eeeeee;
}


.cancel-button {
    
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.marbot0{
    margin-bottom:0px !important;
}
 
/*button:not(:last-child){margin-right:10px !important}*/
/*footer {
    position: fixed;
    bottom: 0 ;left:0;
    background: aliceblue;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #deeaee;
}

footer p
{
    color:#000;
    padding-left:15px;
    font-size:12px;
    margin-bottom:0px !important;
}*/
/*label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: #0065b2;
    font-size: 12px;
    top: 4px;
    display: block;
    margin-bottom: 0px;
}*/
.padbot10 {
    padding-bottom: 10px !important;
}
.padbot20{padding-bottom:20px;}
 

.dropdown-menu {
    padding: 2px 0px !important
}
#message-notification .mdl-badge.mdl-badge--overlap{
    position:relative;
    top:4px !important;
}
/*Modal Styles*/
.modal-header {
    display: block !important;
}
    .modal-header .close {
        float: right !important;
        padding: 0px 0px;
        margin: 0rem 0rem 0rem auto;
        line-height: 32px !important;
        color: #424242 !important;
        font-size:1.15rem!important;
    }
 
/*Material styles*/
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: #1590c0 !important;
}
.mdl-textfield {
    width: 100% !important
}
.mdl-textfield__label:after {
    background-color: #1590c0 !important;
}
/*.mdl-textfield__input {
    font-family: 'roboto' !important;
}*/

 
.mdl-textfield__label {
    margin-bottom: 0px !important;
}
 
.modal.fullscreen{
    padding-left:0px !important;
}
.modal.fullscreen .modal-dialog{
    margin:0px 10px!important;
   
    max-width:100% !important;
}
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    background: #fbd626 !important;
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border: 2px solid #fdd826;
}
/*Change Password Screen Styles*/
.change_passwd {
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    width: 425px;
    margin: auto;
    padding: 15px;
}
 

/*Selectpicker Styles*/
.selectpicker + .btn, .selectpicker + .btn-light:not(:disabled):not(.disabled).active, .selectpicker + .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
    padding: 4px;
    background: #fff;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.12);
    font-size: 13px !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    height: 19px !important;
    padding: 0px 0px !important;
    font-size: 14px !important;
    line-height: 16px !important;
}

    .selectpicker + .btn:focus, .bootstrap-select.dropdown-toggle:focus {
        /*border-bottom-color: #0f436f !important;*/
        outline: 0 !important;
        transition-duration: .2s;
        box-shadow: none !important; transition-timing-function: cubic-bezier(.4,0,.2,1);
    }
/*.ui-jqdialog{
    display:none !important;
}*/
/*::selection {
    background: transparent !important;
    background-color: transparent !important
}*/
.inner.show{
    overflow-x:hidden;
}
.bootstrap-select .dropdown-menu ul > li > a {
    padding: 0px 10px !important;
    line-height: 32px !important;
   font-size:12px;
}
.dropdown-menu {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    border: none !important;
}
.dropdown-item.active, .dropdown-item:active {
    background: rgb(239, 223, 141) !important;
    color: #000 !important;
}

    .dropdown-item.active:hover {
        background: rgb(239, 223, 141) !important;
    }
    .bootstrap-select .dropdown-menu li a {
        border-top: 1px solid rgba(255,255,255,0.1);
        color: #3f3f3f !important;
    }
.dropdown-item:focus, .dropdown-item:hover {
    color: #000 !important;
    background-color: #fff4be !important;
    outline: none !important
}
.dropdown-item {
    color: #565c68 !important;
}

/*#PopupCustomerMaster .modal-dialog {
    max-width: 98% !important;
    margin: 0px !important
}*/


#DisplaySystem
{
    background:rgba(0,0,0,.04);
    width:100%;

}

.queue-heading {
    margin-bottom: 8px;
    font-size: 16px;
    color: #2e89ca;
    letter-spacing: 1px;
}
.queue-line {
    height: 3px;
    background: #2e89ca;
    width: 17%;
}
.queue-line-after {
    height: 1px;
    background: #fbfbfb;
    width: 91%;
    position: relative;
    top: -1px;
    margin-bottom: 15px;
}
@-webkit-keyframes calling {
    0% {
        background-color: #ff0408;
    }

    49% {
        background-color: #f78787;
    }

    50% {
        background-color: #ff0408;
    }

    99% {
        background-color: #f78787;
    }

    100% {
        background-color: #ff0408;
    }
}

@-moz-keyframes calling {
    0% {
        background-color: #ff0408;
    }

    49% {
        background-color: #f78787;
    }

    50% {
        background-color: #ff0408;
    }

    99% {
        background-color: #f78787;
    }

    100% {
        background-color: #ff0408;
    }
}

@keyframes calling {
    0% {
        background-color: #ff0408;
    }

    49% {
        background-color: #f78787;
    }

    50% {
        background-color: #ff0408;
    }

    99% {
        background-color: #f78787;
    }

    100% {
        background-color: #ff0408;
    }
}

.calling {
    -webkit-animation: calling 1s infinite;
    -moz-animation: calling 1s infinite;
    animation: calling 1s infinite;
    font-size:18px;
    display:block;
    padding:10px;
    color:#fff;
}
#displaySystem tr td{
padding:0px !important;
}
#displaySystem tr p{
    font-size:18px;
    padding:10px;
    margin-bottom:0px;
    font-weight:600;
}
    #displaySystem th  {
    font-size:18px;
}
    #IconPlus{
    float:right;
}
.megamenu {
    position: static
}

.dropdownMenuDiv {
    display: flex
}


.right-divider {
    border-right: 1px solid #ececec;
}
.right-divider:nth-child(odd){background:#fff !important}
    .right-divider:nth-child(even) {
        background: #fbfcff !important;
    }

.mdl-radio__label, .mdl-textfield__input {
    color: #212529 !important; font-size:13px !important;
}

.popupBGColor {
    background: #dddddd !important;
}



 input[type=date]{line-height:20px !important;height:20px !important;}
.user-logo
{
    vertical-align: text-bottom;
    font-size: 24px !important;
}

.ui-jqgrid .ui-jqgrid-view{
    font-size:12px !important;
}
/*.ui-jqgrid, .ui-jqgrid-hdiv, .ui-jqgrid-view, .ui-jqgrid-bdiv, .ui-jqgrid-htable, .ui-jqgrid-btable, .ui-jqgrid .ui-jqgrid-pager {
    width: 100% !important;
}*/

.header nav {
    padding:0px;
    box-shadow: none;
    border-bottom: 1px solid #fff;
}
.project-tab #tabs .nav-tabs .nav-item {
    border-right: 1px solid #efefef !important;
}

.repeater-heading {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0px;
    float: left;
    width: 50%;
    padding-left: 30px;
    color: #23a8e0;
    padding-top: 3px;
    padding-bottom: 3px;
}

.repeater-content {
    display: block;
    float: right;
    width: 50%;
    padding-right: 15px;
}

.err_div_mar {
    margin-top: -36px;
}

.errorMsg_p {
    background: #dc3545;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    position: initial;
    z-index: 1;
    left: 2%;
    bottom: 0px;
    font-size: 16px;
    margin-bottom: 0px;
    height: 36px;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

.succMsg_p {
    background: #28a745;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    position: initial;
    z-index: 1;
    left: 2%;
    bottom: 0px;
    font-size: 16px;
    margin-bottom: 0px;
    height: 36px;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

@media screen and (min-width:300px)and (max-width:600px){

    .repeater-heading {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0px;
        float: left;
        width: 100%;
        padding-left: 30px;
        color: #23a8e0;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .repeater-content {
        display: inline;
        float: left;
        width: 100%;
        padding-right: 15px;
    }

        .repeater-content button {
            margin-right: 0px !important;
        }

    #nav-tab {
        display: inline-flex;
        overflow-x: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
        width: 100%;
    }

    footer p {
        text-align: center !important
    }

    footer {
        position: relative;
    }

    .p-r-50 {
        padding-right: 15px !important
    }

    .p-l-50 {
        padding-left: 0px !important;
    }

    .container-fluid {
        padding-left: 15px !important;
        padding-right: 15px !important
    }

    /*.ui-state-default, .ui-widget-content .ui-state-default,
    .ui-jqgrid-view,
    .ui-widget.ui-widget-content {
        width: 100% !important;
    }*/

    /*.ui-jqgrid-btable, .ui-jqgrid-htable {
        width: auto !important;
        overflow: auto !important;
    }*/

    /*.ui-jqgrid-bdiv, .ui-jqgrid-hdiv, ui-jqgrid-pager {
        width: auto !important;
        overflow: auto !important;
    }*/
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .dropdownMenuDiv {
        display: block;
    }

   

    body, .ui-jqgrid .ui-jqgrid-view {
        font-size: 11px !important;
    }
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) and (min-width:601px) {
    .navbar-nav{
        flex-direction:row;
    }
    .repeater-heading {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0px;
        float: left;
        width: 100%;
        padding-left: 30px;
        color: #23a8e0;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .repeater-content {
        display: inline;
        float: left;
        width: 100%;
        padding-right: 15px;
    }
        .repeater-content button{
            margin-right:0px !important;
        }
        #nav-tab {
            display: inline-flex;
            overflow-x: auto;
            white-space: nowrap;
            flex-wrap: nowrap;
            width: 100%;
        }

    footer p {
        text-align: center !important
    }
    footer{
        position:relative;
    }
    .header .form-name {
        padding: 0px 0px 0px 15px !important
    }

    .p-r-50 {
        padding-right: 15px !important
    }

    .p-l-50 {
        padding-left: 0px !important;
    }

    .container-fluid {
        padding-left: 15px !important;
        padding-right: 15px !important
    }

    /*.ui-state-default, .ui-widget-content .ui-state-default,
    .ui-jqgrid-view,
    .ui-widget.ui-widget-content {
        width: 100% !important;
    }*/

    /*.ui-jqgrid-btable, .ui-jqgrid-htable {
        width: auto !important;
        overflow: auto !important;
    }*/

    /*.ui-jqgrid-bdiv, .ui-jqgrid-hdiv, ui-jqgrid-pager {
        width: auto !important;
        overflow: auto !important;
    }*/
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .dropdownMenuDiv {
        display: block;
    }
    .header nav {
        /*padding: .5rem 1rem;*/
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 0px 3px rgba(0, 0, 0, 0.23);
    }
    body{
        font-size: 13px !important;
    }
    .ui-jqgrid .ui-jqgrid-view {
        font-size: 11px !important;
    }
}
/*#nav-tab .nav-link{border-bottom:2px solid transparent !important;}*/
    #nav-tab .nav-link:hover, #nav-tab .nav-link .active {
        border-top: none !important;
        border-bottom: 2px solid #1094f8 !important;
        transition: border-bottom 0.2s ease-in-out;
        border-right: 1px solid #efefef !important;
    }


.error-message {
    color: #ff0408;
    font-size: 11px;
    letter-spacing: 0.6px;
}
.error-message svg{color:#ff0408 !important}
.bootstrap-select .dropdown-menu{min-width:100% !important}
.listbox_controls ul li button{width:105px;}
    .listbox_controls ul li button svg { color:#fff !important;
    }
.error-text {
    position: fixed;
    max-width: 700px;
    margin: auto;
    padding: 15px;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s ease-in;
    line-height: 20px;
    text-align: center;
    /*box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);*/
    border-radius: 0px;
    
}

    .error-text.active {
        margin-top: 0px !important;
        z-index: 9999 !important;
        
    }
.fade-out {
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
}
.bootbox.modal .modal-dialog{
    border:1px solid rgba(0, 0, 0, 0.23);
}
.bootbox.modal {
    z-index: 9999 !important;
}
/*.bootbox .modal-footer button:nth-of-type(1) {
    position: absolute;
    right: 6px;
}
.bootbox .modal-footer button:nth-of-type(2) {
    position: relative;
    right: -120px;
}*/
.bootbox .modal-footer {
    display: flex;
    flex-direction: row-reverse;
}
.modal-footer > button {
    margin-left: .75rem;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #707173 !important;
    border-color: #535455 !important;
}


