 
body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 252%2c 213%2c 1)'%3e%3c/rect%3e%3cpath d='M93.13 70.17L158.09 107.67L158.09 182.67L93.13 220.17L28.18 182.67L28.18 107.67zM93.13 295.17L158.09 332.67L158.09 407.67L93.13 445.17L28.18 407.67L28.18 332.67zM158.09 182.67L223.04 220.17L223.04 295.17L158.09 332.67L93.13 295.17L93.13 220.17zM223.04 520.17L288 557.67L288 632.67L223.04 670.17L158.09 632.67L158.09 557.67zM352.95 70.17L417.9 107.67L417.9 182.67L352.95 220.17L288 182.67L288 107.67zM288 407.67L352.95 445.17L352.95 520.17L288 557.67L223.04 520.17L223.04 445.17zM742.67 70.17L807.63 107.67L807.63 182.67L742.67 220.17L677.72 182.67L677.72 107.67zM872.58 70.17L937.53 107.67L937.53 182.67L872.58 220.17L807.62 182.67L807.62 107.67zM807.62 182.67L872.58 220.17L872.58 295.17L807.62 332.67L742.67 295.17L742.67 220.17zM807.62 407.67L872.58 445.17L872.58 520.17L807.62 557.67L742.67 520.17L742.67 445.17zM937.53 -42.33L1002.49 -4.83L1002.49 70.17L937.53 107.67L872.58 70.17L872.58 -4.83zM937.53 182.67L1002.49 220.17L1002.49 295.17L937.53 332.67L872.58 295.17L872.58 220.17zM937.53 407.67L1002.49 445.17L1002.49 520.17L937.53 557.67L872.58 520.17L872.58 445.17zM1002.49 520.17L1067.44 557.67L1067.44 632.67L1002.49 670.17L937.53 632.67L937.53 557.67zM1067.44 407.67L1132.39 445.17L1132.39 520.17L1067.44 557.67L1002.49 520.17L1002.49 445.17zM1262.3 295.17L1327.25 332.67L1327.25 407.67L1262.3 445.17L1197.35 407.67L1197.35 332.67zM1197.35 407.67L1262.3 445.17L1262.3 520.17L1197.35 557.67L1132.39 520.17L1132.39 445.17zM1327.26 -42.33L1392.21 -4.83L1392.21 70.17L1327.26 107.67L1262.3 70.17L1262.3 -4.83zM1522.12 70.17L1587.07 107.67L1587.07 182.67L1522.12 220.17L1457.16 182.67L1457.16 107.67z' stroke='rgba(222%2c 222%2c 222%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M85.63 70.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM150.59 107.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM150.59 182.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM85.63 220.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM20.68 182.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM20.68 107.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM85.63 295.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM150.59 332.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM150.59 407.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM85.63 445.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM20.68 407.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM20.68 332.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM215.54 220.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM215.54 295.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM215.54 520.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM280.5 557.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM280.5 632.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM215.54 670.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM150.59 632.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM150.59 557.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM345.45 70.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM410.4 107.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM410.4 182.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM345.45 220.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM280.5 182.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM280.5 107.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM280.5 407.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM345.45 445.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM345.45 520.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM215.54 445.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM735.17 70.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM800.13 107.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM800.13 182.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM735.17 220.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM670.22 182.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM670.22 107.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM865.08 70.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM930.03 107.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM930.03 182.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM865.08 220.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM800.12 182.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM800.12 107.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM865.08 295.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM800.12 332.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM735.17 295.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM800.12 407.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM865.08 445.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM865.08 520.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM800.12 557.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM735.17 520.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM735.17 445.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM930.03 -42.33 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM994.99 -4.83 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM994.99 70.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM865.08 -4.83 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM994.99 220.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM994.99 295.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM930.03 332.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM930.03 407.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM994.99 445.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM994.99 520.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM930.03 557.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1059.94 557.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1059.94 632.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM994.99 670.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM930.03 632.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1059.94 407.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1124.89 445.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1124.89 520.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1254.8 295.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1319.75 332.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1319.75 407.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1254.8 445.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1189.85 407.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1189.85 332.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1254.8 520.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1189.85 557.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1319.76 -42.33 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1384.71 -4.83 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1384.71 70.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1319.76 107.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1254.8 70.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1254.8 -4.83 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1514.62 70.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1579.57 107.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1579.57 182.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1514.62 220.17 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1449.66 182.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1449.66 107.67 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(222%2c 222%2c 222%2c 1)'%3e%3c/path%3e%3cpath d='M77.9 55.04L121.21 80.04L121.21 130.04L77.9 155.04L34.6 130.04L34.6 80.04zM77.9 505.04L121.21 530.04L121.21 580.04L77.9 605.04L34.6 580.04L34.6 530.04zM251.11 355.04L294.42 380.04L294.42 430.04L251.11 455.04L207.81 430.04L207.81 380.04zM294.42 -19.96L337.72 5.04L337.72 55.04L294.42 80.04L251.11 55.04L251.11 5.04zM424.32 505.04L467.63 530.04L467.63 580.04L424.32 605.04L381.02 580.04L381.02 530.04zM467.63 130.04L510.93 155.04L510.93 205.04L467.63 230.04L424.32 205.04L424.32 155.04zM510.93 505.04L554.23 530.04L554.23 580.04L510.93 605.04L467.63 580.04L467.63 530.04zM554.23 280.04L597.53 305.04L597.53 355.04L554.23 380.04L510.93 355.04L510.93 305.04zM640.84 -19.96L684.14 5.04L684.14 55.04L640.84 80.04L597.53 55.04L597.53 5.04zM727.44 130.04L770.74 155.04L770.74 205.04L727.44 230.04L684.14 205.04L684.14 155.04zM770.74 205.04L814.05 230.04L814.05 280.04L770.74 305.04L727.44 280.04L727.44 230.04zM770.74 355.04L814.05 380.04L814.05 430.04L770.74 455.04L727.44 430.04L727.44 380.04zM814.05 280.04L857.35 305.04L857.35 355.04L814.05 380.04L770.74 355.04L770.74 305.04zM814.05 430.04L857.35 455.04L857.35 505.04L814.05 530.04L770.74 505.04L770.74 455.04zM900.65 -19.96L943.95 5.04L943.95 55.04L900.65 80.04L857.35 55.04L857.35 5.04zM943.95 355.04L987.26 380.04L987.26 430.04L943.95 455.04L900.65 430.04L900.65 380.04zM1030.56 355.04L1073.86 380.04L1073.86 430.04L1030.56 455.04L987.26 430.04L987.26 380.04zM1117.16 55.04L1160.46 80.04L1160.46 130.04L1117.16 155.04L1073.86 130.04L1073.86 80.04zM1073.86 130.04L1117.16 155.04L1117.16 205.04L1073.86 230.04L1030.56 205.04L1030.56 155.04zM1376.98 355.04L1420.28 380.04L1420.28 430.04L1376.98 455.04L1333.67 430.04L1333.67 380.04zM1333.67 430.04L1376.98 455.04L1376.98 505.04L1333.67 530.04L1290.37 505.04L1290.37 455.04zM1463.58 355.04L1506.88 380.04L1506.88 430.04L1463.58 455.04L1420.28 430.04L1420.28 380.04z' stroke='rgba(255%2c 244%2c 165%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

header {
    margin: auto;
    background: #fff;
    padding: 10px;
}

    header img {
        display: block;
        margin: 0px auto;
        height: 10vh;
    }

h1 {
    font-size: 2rem;
    font-weight: bold;
}

.atmDisplay button {
    height: 80px;
    width: 80%;
    max-width: 360px;
    font-size: 1.5rem;
    margin: 20px 0px;
    font-weight: bold;
}

footer {
    display: none;
    position: relative;
    bottom: 2px;
    width: 100%;
    background: transparent;
    margin: 0px;
    overflow: hidden;
}
    footer.stickToBottom{
        position:absolute;
    }
    footer p {
        color: #0d0d0d;
        font-style: italic;
        font-size: 13px;
        background: rgb(255, 244, 173);
        padding: 3px 15px;
        text-align: left !important;
    }
    h1{
        margin:10px 0px;
    }
#txtMobNoRD {
    font-family: roboto_bold !important;
    font-size:11px;
}
.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child){
    width:47%;
}
.divTK_panel {
    width: 95%;
    max-width: 420px;
    background: #fff;
    margin: 20px auto 20px;
    padding: 15px 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.tokenNumberDisplay {
    padding: 10px;
    border-radius: 0%;
    background: #fff;
    display: block;
    border: 0px solid #ccc;
    width: 100%;
    font-size: 20px;
    background: #fefefe;
    color: black;
    text-align: center;
    box-shadow:0 0px 2px rgba(0,0,0,0.12), 0 0px 0.5px rgba(0,0,0,0.24)
}
#cboMobileNumber .form-control{
    border-bottom-width:0px; 
}
.divTK_panel button {
    height: auto;
    font-size: 12px;
    width: initial;
    margin: 5px auto;
}
#btnEditMobileNo {
    padding: 0px 3px;
}
#btn-resendOTP {
    padding: 0px 3px;font-size:12px;margin:0px;
}
.text-small {
    font-size: 11px !important;
}
.txtOTP {
    height: 32px;
    letter-spacing: 20px;
    font-size: 20px !important;
    font-weight: bold;
    background: transparent !important;
}
.txtwaittime {
    font-size: 14px;
    text-align: center;
    margin: 0px;
}
.headerText {
    background: rgb(255, 244, 173);
    color: #000;
    text-align: center;
    margin:0px;
}
#mobileform  .selectpicker+.btn{
    margin:0px !important;
}
.filter-option-inner::first-letter{
    text-transform:uppercase;
}
.atmDisplay .row div {
    text-align: center;
}
p.instruction {
    font-size: 1.25rem;
    font-style:italic;
    background: #fff4ad;
    padding: 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
footer p {
    text-align: left;
}
.container-fluid{
    padding:0px !important;
}
.instruction span {
    font-style: italic;
    color: #836d00;
    font-weight: bold;
}
#txtMobileNumber {
    position: relative;
    top: 2px;
}
@media screen and (min-width:300px) and (max-width:576px) {
    header img{
        width:90px;
        height:auto;
    }
    .atmDisplay button {
        height:auto;
        width: 100%;
        max-width: unset;
        font-size: 1rem;
        margin: 2px 0px;
        font-weight: bold;
    }
    .p-4{
        padding:0.5rem 1rem !important
    }
    header img {
        display: block;
        margin: 0px auto;
        height:unset;
        width:120px;
     }
    main button{
        width:100%;
    }
    main .text-right{
        text-align:left !important;
    }
    .divTK_panel button {
        height: auto;
        font-size: 11px;
        width: initial;
        margin:0px auto;
       
    }
    .headerText {
        background: rgb(255, 244, 173);
        color:#000;
        text-align:center;
        margin:0px;
    }
    .tokenNumberDisplay {
        font-size: 14px;
    }
    footer p {
        font-size:11px;
        padding:0px;
    }
    .txtwaittime{
        font-size:10px;
        text-align:center;
        margin:0px;
        line-height:16px !important;
    }
    footer p:first-of-type {
        margin-bottom: 5px;
    }
    .divTK_panel {
        width: 90%;
        max-width: 420px;
        background: #fff;
        margin: 20px auto 20px;
        padding: 0px 2px 15px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
        p.instruction {
            font-size: 0.9rem
        }
        .instruction span {
            display: block;
            font-style: italic;
            color: #836d00;
            font-size: 12px;
            font-weight: bold;
        }
    h1 {
        font-size: 1.35rem;
      text-align:left;
    }
    #dvMain button {
        height: auto !important;
        padding: 15px 15px !important;
        margin: 8px 0px;
    }
    }